<div *ngIf="showHomePage">

    <div class="gamediscover">

        <h3>Upcoming Games</h3>
        <div class="UpComing" *ngFor="let game of upComingGames">
            <a [routerLink]="['/detailspage', game.id]" (click)="showHomePage = false">
                <div class="game-cover" [style.background-image]="game.background_image ? 'url(' + game.background_image + ')' : ''">
                    <span *ngIf="!game.background_image" style="
                    color: rgb(255 255 255);
                    display: block;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    background-color: rgb(255 0 0 / 33%);
                    border-radius: 25px;">
                    <strong>ERROR</strong> <br/> Game cover unavailabe</span>
                </div>               
            </a>
            <span class="favorite-icon">
                <i class="fa fa-heart" [class.favorite]="isFavorite(game)" (click)="toggleFavoriteHandler(game)"></i>
            </span>
            <a [routerLink]="['/detailspage', game.id]" (click)="showHomePage = false">
                <div class="game-info">
                    <h5>{{ game.name }}</h5><br/>
                    <p>Release date: {{ game.released ? game.released : 'Not available...' }}</p> <!-- check if released date is null -->
                </div>
            </a>
        </div>
        
        <h3>Popular Games</h3>
        <div class="popular" *ngFor="let game of popularGames">
            <a [routerLink]="['/detailspage', game.id]" (click)="showHomePage = false">
                <div class="game-cover" [style.background-image]="game.background_image ? 'url(' + game.background_image + ')' : ''">
                    <span *ngIf="!game.background_image" style="
                    color: rgb(255 255 255);
                    display: block;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    background-color: rgb(255 0 0 / 33%);
                    border-radius: 25px;">
                    <strong>ERROR</strong> <br/> Game cover unavailabe</span>
                </div>      
            </a>
            <span class="favorite-icon">
                <i class="fa fa-heart" [class.favorite]="isFavorite(game)" (click)="toggleFavoriteHandler(game)"></i>
            </span>
            <a [routerLink]="['/detailspage', game.id]" (click)="showHomePage = false">
                <div class="game-info">
                    <h5> {{ game.name }} </h5> <br/> 
                    <p>Rated: {{ game.rating !== 0 ? game.rating + '/5' : 'Not available yet...' }}</p> <!-- check if rating is null -->
                </div>
            </a>
        </div>

        <h3>New Games</h3>
        <div class="new" *ngFor="let game of newGames">
            <a [routerLink]="['/detailspage', game.id]" (click)="showHomePage = false">
                <div class="game-cover" [style.background-image]="game.background_image ? 'url(' + game.background_image + ')' : ''">
                    <span *ngIf="!game.background_image" style="
                    color: rgb(255 255 255);
                    display: block;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    background-color: rgb(255 0 0 / 33%);
                    border-radius: 25px;">
                    <strong>ERROR</strong> <br/> Game cover unavailabe</span>
                </div>      
            </a>
            <span class="favorite-icon">
                <i class="fa fa-heart" [class.favorite]="isFavorite(game)" (click)="toggleFavoriteHandler(game)"></i>
            </span>
            <a [routerLink]="['/detailspage', game.id]" (click)="showHomePage = false">
                <div class="game-info">
                    <h5> {{ game.name }}  </h5> <br/>
                    <p>Release date: {{ game.released ? game.released : 'Not available...' }}</p> <!-- check if released date is null -->
                </div>
            </a>
        </div>
    </div>
</div>

<div *ngIf="!showHomePage">
    <router-outlet></router-outlet>
</div>
  
