<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="!loading">

  <div class="gamediscover">

    <h3>Search Results</h3>
    <div *ngIf="games.length === 0; else gameList" class="no-results-message">
      <p>Please search for something else...</p>
    </div>

    <ng-template #gameList>
      <div class="search-results" *ngFor="let game of games">
        <a [routerLink]="['/detailspage', game.id]">
          <div class="game-cover" [style.background-image]="game.background_image ? 'url(' + game.background_image + ')' : ''">
            <span *ngIf="!game.background_image" style="color: red;display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Game cover not available</span>
          </div>                
        </a>
        <span class="favorite-icon">
          <i class="fa fa-heart" [class.favorite]="isFavorite(game)" (click)="toggleFavorite(game)"></i>
        </span>
        <a [routerLink]="['/detailspage', game.id]">
          <div class="game-info">
            <h5>{{ game.name }}</h5><br/>
            <p><strong>Release date:</strong> {{ game.released ? game.released : 'Not available yet...' }}</p> 
            <p><strong>Rating:</strong> {{ game.rating !== 0 ? game.rating + '/5' : 'Not available yet...' }}</p>
          </div>
        </a>
      </div>
    </ng-template>
    
  </div>
</div>