header{
    align-items: center;
    text-align: center;
    height: 10px;
    font-size: small;
}

img{
    width: 20px;
    height: 20px;
    
}
.title {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 5px;
}
.title-link {
    text-decoration: none;
}


.title:hover {
    color: darkred;
}
