header{
    align-items: center;
    text-align: center;
    height: 10px;
    font-size: small;
}

img{
    width: 20px;
    height: 20px;
}

.title{
    cursor: pointer;
    color: white;
    padding: 5px;
}

.title-link,
.favorite-link{
    text-decoration: none;
}

.favorite {
    color:rgba(255, 255, 255, 0.382);
    font-size: small;
    text-align: right;
    padding: 8px;
}


.title:hover,
.favorite:hover {
    color: darkred;
}


