h3{
  color: white;
  text-align: center;
  position: relative;
  margin-top: 150px;
  padding-bottom: 30px;
  flex-basis: 100%;
  font-size: 23px;   
}
.gamediscover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  padding-bottom: 15px;
  overflow-x: hidden;
}

.favorites {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: white;
}

.game-cover {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-radius: 15px;

}

.game-cover:hover {
box-shadow: 0px 0px 10px rgba(243, 7, 7, 0.5);
transform: translateY(-3px);

}

.game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  right: 0;
  background-color: rgb(0 0 0 / 15%);
  color: #fff;
  padding: 3px;
  padding-bottom: 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.game-info h5 {
  margin: 0;
  font-size: 14px;
  padding-top: 5px;
}

.game-info p {
  margin: 0;
  font-size: 12px;
  padding-bottom: 20px;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  color: #7e0e0e6e;
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffffa3;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-icon i {
  margin: 0;
}

.favorite {
  color: #910000;
}


/* phones */
@media screen and (max-width: 575px) {
  .favorites {
    width: 100%;
  }
}

/* tablets */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .favorites {
    width: calc(50% - 10px);
  }
}

/* desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .favorites {
    width: calc(33.33% - 10px);
  }
}

/* large desktops */
@media screen and (min-width: 992px) {
  .favorites {
    width: calc(25% - 10px);
  }
}
