
<div class="game-details" *ngIf="gameDetails">
    <div class="game-cover" [style.background-image]="'url(' + gameDetails.background_image + ')'"></div>
    <h2>{{ gameDetails.name }}</h2>
    <p><strong>Release date:</strong> {{ gameDetails.released }}</p>
    <p><strong>Rating:</strong> {{ gameDetails.rating !== 0 ? gameDetails.rating + '/5' : 'Not available yet...' }}</p>
  </div>
  
  <div class="screenshots" *ngIf="gameScreenshots">
    <div class="screenshot" *ngFor="let screenshot of gameScreenshots">
      <img src="{{ screenshot.image }}" alt="Screenshot">
    </div>
</div>
  